html {
    /*height: 400px;*/
    height: 100vh;
    background-color: #d5ecef;
}

.container {
    width: 90%;
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.list {
    overflow-y: auto;
    height: 80vh;
}

div.draggable {
    /*height: 50px;*/
    width: 100%;
}

#templateDiv {
    /*height: 50px;*/
    width: 100%;
}

.templateDiv img {
    width: 100%;
}

.hidden {
    /*visibility: hidden;*/
    display: none;
}

.form {
    border: 3px solid;
    border-radius: 10px;
    border-color: #FFCC00;
    padding: 10px;
    width: 80%;
    background-image: url("../img/bg.jpg");
}

#insideList {
    border-radius: 12px;
    border-style: solid;
    border-color: #FFCC00;
    padding: 2%;
    background-image: url("../img/bg.jpg");
}

#outsideList {
    border-radius: 12px;
    border-style: solid;
    border-color: #FFCC00;
    padding: 2%;
    background-image: url("../img/bg.jpg");
}

#InputOutput {
    border-radius: 25px;
    border-style: solid;
    border-color: #FFCC00;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 95%;
    background-color: #d5ecef;
}

.deleteBtn {
    background-color: #DC4821;
    color: white;
    border-radius: 12px;
    padding: 2%;
    font-size: 15px;
}
.signOutBtn{
    background-color: #DC4821;
    color: white;
    border-radius: 12px;
    padding: 2%;
    font-size: 15px;
}
#submitBtn {
    background-color: #449d44;
    color: white;
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 15px;
}

#submitBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.deleteBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #348296;

}

input {
    border-radius: 6px;
}

select {
    border-radius: 6px;
}

span#currentTime{
    font-size: 2em;
}
label{
    color:#09489B;
}
body{
    /*background-image: url("../img/bg.jpg");*/
}